<div class="page-header">
  <h1>All of the Publish<h1>
</div>

<%= link_to "Post a New Publish", new_publish_path, class: "btn btn-success" %>

<% @publishes.each do |publish| %>
<div class="publish">
  <p><%= publish.publishTitle %> </p>
  <div class="meta">
    <%= link_to time_ago_in_words(publish.created_at) + "ago", publish %>
    <span class="admin">
      | <%= link_to "Edit", edit_publish_path(publish) %> |
      <%= link_to "Delete", publish, method: :delete, data: { confirm: "Are you sure?"} %>
    </span>
  </div>
</div>
<% end %>